@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#root {
  margin: 0 auto;
  font-family: ubuntu, "Open Sans", "Helvetica Neue", sans-serif !important;
  --surface-ground: #fff;
  font-size: 14px;
  color: #707070 !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: semi-bold;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: semi-bold;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

.p-component,
.pi {
  font-family: ubuntu, "primeicons", "Open Sans", "Helvetica Neue", sans-serif !important;
}

.p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--purple-400);
}
.p-tooltip .p-tooltip-text {
  background-color: var(--purple-400);
  padding: 0.2rem 0.5rem;
  font-size: 12px !important;
  box-shadow: none;
}

.p-button {
  font-size: 14px;
}

.p-tabview-nav-link {
  padding: 0.8rem;
}
